:global(html.deep-blue) {
	background:
	linear-gradient(130deg, rgb(32, 3, 56) 0%, rgba(175, 0, 87, 0.1) 70%, rgba(255, 0, 247, 0) 100%),
	radial-gradient(circle at top, rgba(0,0,0,1) 30%, rgba(12,5,94,.8) 60%, rgba(0,0,0,0) 100%),
	radial-gradient(circle at bottom, rgb(55, 0, 255) 10%, rgb(33, 21, 165) 20%, rgba(0,0,0,1) 40%)
	;
	background-attachment: fixed;
}

deep-blue {
	$primary: hsl(230, 100%, 50%);
	$secondary: hsl(200, 100%, 80%);
	
	@at-root {
		button#menuButton.#{&}, button#toggleButton.#{&} {
			color:white;
		}
		
		main.#{&} h1 {
			color: $primary;
		}
		
		nav.#{&} {
			background-color: black;
		}
		
		nav.#{&} a {
			color: hsl(230, 100%, 80%)
		}
		
		main.#{&} p, div.#{&} p, p.#{&}, span.#{&}.timestamp {
			color:white;
		}
		
		button.#{&} {
			background-color: hsl(230, 100%, 45%);
			color: white;
		}
		
		main.#{&} a {
			color: $secondary;
			font-weight: 600;
		}
	}
}