soft-blue {
	:global(html.#{&}) {
		background:
		linear-gradient(130deg, hsl(273, 90%, 100%) 0%, hsla(330, 100%, 75%, 0.1) 70%, hsla(302, 100%, 50%, 0) 100%),
		radial-gradient(circle at top, hsl(200, 50%, 50%) 30%, hsla(245, 90%, 75%, 0.8) 60%, hsla(200, 50%, 50%, 1.0) 100%),
		radial-gradient(circle at bottom, hsl(253, 100%, 75%) 10%, hsl(245, 77%, 36%) 20%, hsl(0, 0%, 100%) 40%)
		;
		background-attachment: fixed;
	}
	
	$primary: hsl(210, 100%, 50%);
	$secondary: hsl(210, 100%, 25%);
	
	@at-root {
		button#menuButton.#{&}, button#toggleButton.#{&} {
			color:black;
		}
		
		main.#{&} h1 {
			color: $primary;
		}
		
		nav.#{&} {
			background-color: white;
		}
		
		nav.#{&} a {
			color: hsl(230, 100%, 30%)
		}
		
		main.#{&} p, div.#{&} p, p.#{&}, span.#{&}.timestamp {
			color:black;
		}
		
		button.#{&} {
			background-color: hsl(210, 100%, 45%);
			color: white;
		}
		
		main.#{&} a {
			color: $secondary;
			font-weight: 600;
		}
	}
}